.num-el {
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.5);
    padding: .5rem;
    cursor: pointer;
    flex: 1 0 33.3%;
    box-shadow: 2px 2px 2px 2px;
}

.num-el:hover {
    background-color: rgba(255,255,255,0.05);
}

.num-el span {
    display: block;
}

.num-el span.num {
    font-size: 2rem;
    min-height: 2.4rem;
    line-height: 2.4rem;
}

.num-el span.letters {
    font-size: .8rem;
    min-height: 1rem;
    line-height: 1rem;
}

.num-el span.letters:empty:before {
    content: "\200b";
}
